#buttonSave {
    height: 2.5rem;
    width: 20rem;
    outline: none;
    border: none;
    background-color: #E49052;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.25);
    transition: ease-in-out 0.2s ;
    margin-bottom: 2rem;
}

#buttonSave:active{
    background-color: darkolivegreen;
}

#buttonSave:hover{
    height: 2.6rem;
    width: 20.5rem;
}

