#datePicker {
    background-color: white;
    outline: none;
    text-indent: 0.7rem;
    border-radius: 5px;
    padding: 10px;
    margin: 1rem;
    width: 20rem;
    font-size: 1.2rem;
    border: 1px solid #ccc;
}